<!doctype html>

<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>{{ titre }}</title>
  <link href="{{ url_for('static', filename='jdb_s_style.css') }}" rel="stylesheet"/>
  <script src="JDB_G_script.js"></script>
</head>

<body>
  <nav class="menu">
    <div class='StatBdd'>
      <div><image src="static/picto/analysis.svg" width="120"/></div>
      <h2>{{ TotalOffres }}</h2>
      Offres référencées dans la base de données
      <h2>{{ TotalOffresEnLigne }}</h2>
      Offres actuellement en ligne
    </div>

    <div class="MenuCentre">
      <a href="{{ url_for('get_home')}}">
        <div class='NavBtn'><table><tr><td><image class="Icone" src="{{ url_for('static', filename='picto/ico_maison.svg') }}"/></td>
          <td>Accueil</td></tr></table></div></a>
      <a href="{{ url_for('get_wip')}}">
        <div class='NavBtn'><table><tr><td><image class="Icone" src="{{ url_for('static', filename='picto/ico_loupe.svg') }}"/></td>
          <td>Statistiques</td></tr></table></div></a>
      <a href="{{ url_for('get_graph')}}">
        <div class='NavBtn'><table><tr><td><image class="Icone" src="{{ url_for('static', filename='picto/ico_camembert.svg') }}"/></td>
          <td>Graphiques</td></tr></table></div></a>
      <a href="{{ url_for('get_consult')}}">
        <div class='NavBtn'><table><tr><td><image class="Icone" src="{{ url_for('static', filename='picto/ico_curseurs.svg') }}"/></td>
          <td>Consultation</td></tr></table></div></a>
      <a href="{{ url_for('get_wip')}}">
        <div class='NavBtn'><table><tr><td><image class="Icone" src="{{ url_for('static', filename='picto/ico_rouage.svg') }}"/></td>
          <td>Maintenance</td></tr></table></div></a>
    </div>

    <div class="MenuPied">
      <a href="{{ url_for('get_wip')}}">
        <div class='MenuBtn'>À propos</div></a>
      <a href="{{ url_for('get_wip')}}">
        <div class='MenuBtn'>Contact</div></a>
      JobDashboardG2.ꞵ.3.1 ® 2020-02-28
    </div>
  </nav>

  {% block content %}
  {% endblock %}

</body>
</html>